<div id="login-container">
    <div class="form" id="login-form">
        <h2>Revabooks</h2>
        <hr/>
        <h3>Sign into Revabooks</h3>

        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" class="form-control" id="login-username" placeholder="Please enter your username"/>
        </div>

        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" id="login-password" placeholder="Please enter your password"/>
        </div>

        <button type="submit" class="btn btn-primary" id="login">Login</button>
        <br/>
        <br/>
        <div class="alert alert-danger" id="login-message"></div>
    </div>
</div>